<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    {% load static %}
</head>
<body>

<form>
    Generate random variant of <input type="text" placeholder="Category" name="cat">
    <button type="submit" name="SUBMIT" value="gen">Generate</button>
</form>
<form>
    Show all variants of <input type="text" placeholder="Category" name="cat">
    <button type="submit" name="SUBMIT" value="show">Show</button>
</form>
<form>
    Variant constructor of <input type="text" placeholder="Category" name="cat">
    <button type="submit" name="SUBMIT" value="const">Constructor</button>
</form>

</body>
</html>