<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {% load static %}
</head>
<body>

<form>
    Generate random variant of
    <select name="subject[]">
        {% for cat in cats %}
        <option name="cat" value="{{cat.name}}">{{cat.name}}</option>
        {% endfor %}
    </select>
    <button type="submit" name="SUBMIT" value="gen">Generate</button>
</form>
<form>
    Show all variants of
    <select name="subject[]">
        {% for cat in cats %}
        <option name="cat" value="{{cat.name}}">{{cat.name}}</option>
        {% endfor %}
    </select>
    <button type="submit" name="SUBMIT" value="show">Show</button>
</form>
<form>
    Variant constructor of
    <select name="subject[]">
        {% for cat in cats %}
        <option name="cat" value="{{cat.name}}">{{cat.name}}</option>
        {% endfor %}
    </select>
    <button type="submit" name="SUBMIT" value="const">Constructor</button>
</form>
<form>
    Library of <input type="number" name="pk" min="1" placeholder="user id">
    <button type="submit" name="SUBMIT" value="show-smns-vars">Show</button>
</form>

</body>
</html>