<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<h1><a href="{% url 'task' task.pk %}">№{{task.get_str_type_number}}.{{task.pk}}({{task.rating}})</a><a href="{% url 'show-tasks' task.category.name task.get_int_type_number %}">(same tasks)</a></h1>
{% autoescape off %}
{{task.text}}<br>
<h1>Answer:</h1>
{{task.answer}}
{% endautoescape %}
<br>
<br>
You can rate this task:
<form method="get">
    <select name="mark">
        <option value="1">1 - bots</option>
        <option value="2">2 - very easy</option>
        <option value="3">3 - easy</option>
        <option value="4">4 - not easy</option>
        <option value="5">5 - medium</option>
        <option value="6">6 - harder</option>
        <option value="7">7 - hard</option>
        <option value="8">8 - really hard</option>
        <option value="9">9 - insane</option>
        <option value="10">10 - god</option>
    </select>
    <button type="submit" name="RATE" value="RATE">Rate</button>
</form>
{{error}}
</body>
</html>